/* General Style */

body{
    background-color: #d8d8d8;
    font-size: 100%; /* Vielleicht auch im Header/Footer nötig */
    margin: 0em;
    padding: 0em;
}

h1{
    font-size: 2.5em;
    line-height: 3.8em; /* Vertikaler Abstand */
    font-family: Helvetica;
    font-weight: 100; /* Textdicke */
    color: #5790f2;
    margin: 0em; /* Abstand zum Eltern oder Nachbarselement*/
}

h2{
    font-size: 1.5em;
    line-height: 1.8em; /* Vertikaler Abstand */
    font-family: Helvetica;
    font-weight: 100; /* Textdicke */
    color: #5790f2;
    margin: 0em; /* Abstand zum Eltern oder Nachbarselement*/
    padding: 1.25em; /* Horizontaler sowie Vertikaler Abstand zu Eltern oder Nachbarselementen */
    text-align: left;
}

p{
    line-height: 1.25em; /* Vertikaler Abstand */
    font-family: Helvetica;
    font-weight: 100; /* Textdicke */
    color: black;
    margin: 0em; /* Abstand zum Eltern oder Nachbarselement*/
    padding: 1.25em; /* Horizontaler sowie Vertikaler Abstand zu Eltern oder Nachbarselementen */
    text-align: justify;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style:square; /* Aussehen der Aufzählungszeichen */
    font-family:Helvetica;
    font-weight:100;
    color:#2F2D2C;
    margin:0em;
    padding:0em;
    margin:0.313em 0em 0.313em 0em;
    line-height: 1.25em;
}

img{
    width: 60%;
    height:auto;
    max-width:100%;
}

a{
    text-decoration: none;
}

header{
    display:block;
    background: #14485F;
    text-align: center;
}

#menubar{
    display: block;
    background: white;
}

#menubar ul{
    display:block;
    width:2em;
    padding: 0.9em;
}

#menubar ul li{
    display:inline;
}

#menubar ul li a.menubutton{
    display: none;
}

nav{
    display:block;
    height:2.5em;
    background: #175570;
    text-align: center;
}

nav ul{
    display:block;
}

nav ul li{
    display: inline;
    margin:0em 0.188em 0em 0.188em;
}

nav ul li a{
    color: whitesmoke;
    font-size: 1.125em;
    line-height: 2.401em;
    padding: 0.603em 0.938em 0.375em 0.983em;
    transition:background .2s;
    -webkit-transition: background .2s;
}

nav ul li a:hover{
    background: #14485F;
    border-bottom: 0.185em solid ghostwhite;
}

#main{
    display:block;
    width:96%;
    max-width: 980px;
    margin: 1.25em auto;
    padding:0em;
}

#main article{
    display:inline-block;
    width:65.30%;
    background: whitesmoke;
    vertical-align: top;
    margin:0em;
    padding:0em;
    text-align: center;
}

#images{
    box-shadow: 0px 0px 50px -5px #4c4948;
    border-radius: 5px;
    max-width: 520px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#back {
    width: 10%;
    display: block;
    margin-top: 7em;
    margin-left: 2em;
}

#back:hover{
    cursor: pointer;
}

#next{
    width: 10%;
    display: block;
    margin-top: 7em;
    margin-right: 2em;
}

#next:hover{
    cursor: pointer;
}

#main article h2 {
    text-align: center;
}

#main aside{
    display:inline-block;
    width: 31.1%;
    margin-left: 3%;
    padding:0em;
    vertical-align: top;
}

#main aside section{
    margin-bottom: 1.563em;
    background: whitesmoke;
    border-bottom: 0.188em solid #5790f2;
}

#main article h2{
    padding:1em 1.8em 1em 1.8em;
}

#main aside section li {
   list-style: none;
}

#box1 ul li {
    padding-left: 2.1em;
}

#box2 p {
    padding-left: 2.1em;
}

#box3 ul li {
    padding-left: 2.1em;
    overflow: hidden;
    white-space: nowrap;
}

#box1 ul {
    margin-bottom: 1em;
}
#box1 h2{
    line-height: 0em;
}

#box2 h2{
    line-height: 0em;
}

#box2 h2{
    line-height: 0em;
}
#gmaps{
    display: none;
}

#listitem{
    width: 1.5em;
    padding-left: 0.3em;
}

#impressum ul li {
    list-style: none;
}

footer{
    display: block;
    background: #14485F;
    text-align: center;
}

footer ul {
    display: block;
    width: 100%;
    max-width: 980px;
    text-align: left;
    margin:0px auto;
}

footer ul li {
    list-style: none;
    display: inline;
    font-size: 1em;
    line-height: 2.8em;
    color: white;
    padding: 0em 0.625em 0em 0.625em;
}

footer ul li a{
    color: white;
    text-decoration: underline #5790f2;
}

/* Mobile Style */
/* 800 px*/
@media screen and (max-width: 800px){
    body{
        font-size: 90%;
    }
}
/* 600 px*/
@media screen and (max-width: 750px){
    #main aside, #main article{
        width: 100%;
        display: block;
        margin: 0.625em 0em 0.625em 0em;
    }
}
/* min-width: 550px*/
@media screen and (min-width: 750px) {
    nav.nav{
        display: block !important;
    }
}
/* 550 px*/
@media screen and (max-width: 750px){
    body{
        font-size: 86%;
    }
    #menubar ul li a.menubutton{
        display: block;
    }
    nav{
        display:none;
        height: auto;
    }
    nav ul li {
        display: block;
        margin: 0.3em 0em 0.3em 0em;
    }
}
