/* General Style */

body{
    background-color: #d8d8d8;
    font-size: 100%; /* Vielleicht auch im Header/Footer nötig */
    margin: 0em;
    padding: 0em;
}

h1{
    font-size: 2.5em;
    line-height: 3.8em; /* Vertikaler Abstand */
    font-family: Helvetica;
    font-weight: 100; /* Textdicke */
    color: #5790f2;
    margin: 0em; /* Abstand zum Eltern oder Nachbarselement*/
}

h2{
    font-size: 1.5em;
    line-height: 1.8em; /* Vertikaler Abstand */
    font-family: Helvetica;
    font-weight: 100; /* Textdicke */
    color: #5790f2;
    margin: 0em; /* Abstand zum Eltern oder Nachbarselement*/
    padding: 1.25em; /* Horizontaler sowie Vertikaler Abstand zu Eltern oder Nachbarselementen */
    text-align: left;
}

p{
    line-height: 1.25em; /* Vertikaler Abstand */
    font-family: Helvetica;
    font-weight: 100; /* Textdicke */
    color: black;
    margin: 0em; /* Abstand zum Eltern oder Nachbarselement*/
    padding: 1.25em; /* Horizontaler sowie Vertikaler Abstand zu Eltern oder Nachbarselementen */
    text-align: justify;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style:square; /* Aussehen der Aufzählungszeichen */
    font-family:Helvetica;
    font-weight:100;
    color:#2F2D2C;
    margin:0em;
    padding:0em;
    margin:0.313em 0em 0.313em 0em;
    line-height: 1.25em;
}

img{
    width: 60%;
    height:auto;
    max-width:100%;
}

a{
    text-decoration: none;
}

header{
    display:block;
    background: #14485F;
    text-align: center;
}

#menubar{
    display: block;
    background: white;
}

#menubar ul{
    display:block;
    width:2em;
    padding: 0.9em;
}

#menubar ul li{
    display:inline;
}

nav{
    display:block;
    height:2.5em;
    background: #175570;
    text-align: center;
}

nav ul{
    display:block;
}

nav ul li{
    display: inline;
    margin:0em 0.188em 0em 0.188em;
}

nav ul li a{
    color: whitesmoke;
    font-size: 1.125em;
    line-height: 2.401em;
    padding: 0.603em 0.938em 0.375em 0.983em;
    transition:background .2s;
    -webkit-transition: background .2s;
}

nav ul li a:hover{
    background: #14485F;
    border-bottom: 0.185em solid ghostwhite;
}

nav ul li a.active{
    border-bottom: 0.180em solid ghostwhite;
}

#main{
    display:block;
    width:96%;
    max-width: 980px;
    margin: 1.25em auto;
    padding:0em;
}

#main article{
    display:inline-block;
    width:65.30%;
    background: whitesmoke;
    vertical-align: top;
    margin:0em;
    padding:0em;
    text-align: center;
}

#main article img{
    max-width: 560px;
    box-shadow: 0px 0px 10px -5px #4c4948;
    border-radius: 5px;
}





